<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.VipItemMapper">
    
    <resultMap type="VipItem" id="VipItemResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="price"    column="price"    />
    </resultMap>

    <sql id="selectVipItemVo">
        select id, title, price from db_vip_item
    </sql>

    <select id="selectVipItemList" parameterType="VipItem" resultMap="VipItemResult">
        <include refid="selectVipItemVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="price != null "> and price = #{price}</if>
        </where>
    </select>
    
    <select id="selectVipItemById" parameterType="Long" resultMap="VipItemResult">
        <include refid="selectVipItemVo"/>
        where id = #{id}
    </select>

    <insert id="insertVipItem" parameterType="VipItem" useGeneratedKeys="true" keyProperty="id">
        insert into db_vip_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="price != null">price,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="price != null">#{price},</if>
         </trim>
    </insert>

    <update id="updateVipItem" parameterType="VipItem">
        update db_vip_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="price != null">price = #{price},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVipItemById" parameterType="Long">
        delete from db_vip_item where id = #{id}
    </delete>

    <delete id="deleteVipItemByIds" parameterType="String">
        delete from db_vip_item where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>